$colortargetA: #c37bb1;
$colortargetB: #af1c8d;
$colorborder: #00afab;
$colorauxiliar: #b0e4e6;
$backgroundcolorA: #ffc375;
$backgroundcolorB: #ffa212;

$fontfamilyprimary: 'Architects Daughter', sans-serif;
$fontfamilysecondary: 'Knewave', sans-serif;
