.search {
  height: 40px;
  width: 100px;
  border: solid $colorborder 3px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-image: radial-gradient($backgroundcolorA, $colorauxiliar);
  font-size: 30px;
  font-family: $fontfamilyprimary;
  color: $colortargetB;
}
